<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>NoMem Main Page: <%= controller.action_name %></title>
  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: white;background: red; display: table-cell;"><%= flash[:error] %></p>

<%= yield  %>

</body>
</html>
